* {
  font-family: sans-serif;
}

body {
  font-size: 1.2em;
}

/* style selectors for first exercise */

li[class~='dog'] {
  color: magenta;
}

li[id^='c'] {
  color: darkcyan;
}

li[class*='do'] {
  color: darkblue;
}

li[class$='g'] {
  color: darkviolet;
}

/* style selectors for second exercise */

section li {
  color: green;
}

.list-food > div {
  font-weight: bold;
}

.second ~ li {
  color: darkmagenta;
}

.second + li {
  color: orange;
}
